{% extends 'base.html' %}
{% block body %}
 {{ super() }}

<div class="contacts">
<h1 class="contacts__title"> Контакты </h1>

 <p>АДРЕС</p>

<div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/org/fgbou_vo_bryanskiy_gosudarstvenny_inzhenerno_tekhnologicheskiy_universitet/1054202859/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">ФГБОУ ВО Брянский государственный инженерно-технологический университет</a><a href="https://yandex.ru/maps/191/bryansk/category/university_college/184106140/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">ВУЗ в Брянске</a><iframe src="https://yandex.ru/map-widget/v1/-/CCUreQeJdD" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
<div class="contacts__info">
 <p>пр. Станке Димитрова, 3, Брянск, Брянская обл., 241037</p>

<p>+7-(4832)-59-95-55 - Советский район</p>

<p class="contacts__header">Часы работы </p>
<p>Понедельник 08:00 - 17:00</p>

<p>Вторник 08:00 - 17:00</p>

<p>Среда 08:00 - 17:00</p>

<p>Четверг 08:00 - 17:00</p>

<p>Пятница 08:00 - 17:00</p>

<p>Суббота - закрыто</p>

<p>Воскресенье - закрыто</p>
</div>
</div>
{% endblock %}
