{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="container main">
<div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto main-content">
        <h1 class="lefj">DanRagon</h1>
          <p class="lefp">Интернет магазин электронной техники</p>
          <img class="main__img" src="static/images/Monobrand.jpg">

          <a class="btn btn-primary" href="/product">Перейти к товарам</a>
      </div>
</div>
</div>
{% endblock %}